# map()

In [1]:
sarasas = [4,3,2,1]
sarasas

[4, 3, 2, 1]

In [2]:
sarasas_kvadratu = []
for skaicius in sarasas:
    sarasas_kvadratu.append(skaicius**2)

sarasas_kvadratu

[16, 9, 4, 1]

In [4]:
def kvadratu(skaicius):
    return skaicius ** 2

alternatyvus_kvadratu = map(kvadratu, sarasas) # map funkcija techniskai generatorius. Map funkcija pritaikys bet kokia nurodyta funkcija sarasui
list(alternatyvus_kvadratu)

[16, 9, 4, 1]

In [5]:
lambda_kvadratu = map(lambda skaicius: skaicius ** 2, sarasas) # funkcijos pavadinimas, ka grazina, ir ka darys su tuo ka grazins
list(lambda_kvadratu)

[16, 9, 4, 1]

In [16]:
from datetime import date
data = "2023-02-01"
metai, menuo, diena = map(int, data.split("-"))
tikra_data = date(metai, menuo, diena)
tikra_data

datetime.date(2023, 2, 1)

# filter()

In [18]:
def daugiau_nei_du(sarasas):
    tarpinis_sarasas = []
    for skaicius in sarasas:
        if skaicius > 2:
            tarpinis_sarasas.append(skaicius)
    return tarpinis_sarasas

daugiau_nei_du(sarasas)

[4, 3]

In [21]:
d_u_du = filter(lambda skaicius: skaicius > 2, sarasas)
list(d_u_du)

[4, 3]

In [23]:
aibe = list(range(1, 20))
lyginiai = filter(lambda skaicius: skaicius % 2 == 0, aibe)
list(lyginiai)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
import calendar
metai = list(range(1950, 2151))
keliamieji = filter(calendar.isleap, metai)
list(keliamieji)

# reduce()

In [32]:
from functools import reduce
print(sarasas + [5, 6])
suma = reduce(lambda pirmas, antras: pirmas + antras, sarasas + [5,6]) # ima pirma ir antra skaiciu, padaro veiksma, ir grazina to veiksmo rezultata, tada ims rezultat ir trecia skaicia, tada rezultata ir ketvirta skaiciu ir t,t
suma

[4, 3, 2, 1, 5, 6]

21

# statistines funkcijos

In [33]:
sum(sarasas)

10

In [34]:
min(sarasas)

1

In [35]:
max(sarasas)

4

In [36]:
from statistics import mean, median
mean(sarasas)

2.5

In [37]:
median(sarasas) # centrinis skaicius

2.5

# Saraso apibrezimas (list comprehension)

In [39]:
# ciklas sarase
s_kvadratu = [skaicius ** 2 for skaicius in sarasas]
s_kvadratu

[16, 9, 4, 1]

In [40]:
# salyga sarase
f_d_uz_du = [skaicius for skaicius in sarasas if skaicius > 2]
f_d_uz_du

[4, 3]

In [41]:
lyginiai = [skaicius for skaicius in sarasas if skaicius % 2 == 0]
lyginiai

[4, 2]

In [45]:
genlyg = (skaicius for skaicius in range(-10000000, 10000000) if skaicius % 2 == 0 )
mean(genlyg)

-1

In [42]:
def tik_lyginiai(sarasas):
    lyginiai = []
    for skaicius in sarasas:
        if skaicius % 2 == 0:
            lyginiai.append(skaicius)
    return lyginiai

tik_lyginiai(sarasas)

[4, 2]

In [46]:
misriukas = [77,66,99,"Labas", True, False, "vakaras",[1,2,3], {"kibiras": "be rankenos"}, -100.2, 69.420, 21, "OK",3.14]
misriukas

[77,
 66,
 99,
 'Labas',
 True,
 False,
 'vakaras',
 [1, 2, 3],
 {'kibiras': 'be rankenos'},
 -100.2,
 69.42,
 21,
 'OK',
 3.14]

In [47]:
kiek_intu = sum(type(elementas) is int for elementas in misriukas )
kiek_intu

4

In [49]:
kiek_stringu = sum(type(elementas) is str for elementas in misriukas)
kiek_stringu

3

In [51]:
def kiek_tipu(tipas,sarasas):
    return sum(type(elementas) is tipas for elementas in sarasas)

kiek_tipu(float, misriukas)

3

# rusiavimas

In [52]:
nerusiuotas = [4,3,2,1,5,6,7,8,9,10]
surusiuotas = sorted(nerusiuotas)
surusiuotas

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
nerusiuotas.sort(reverse=True)
nerusiuotas

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
from random import randrange
betkas = [randrange(-99, 100) for skaicius in range(10)]
betkas.sort()
betkas

[-92, -89, -78, -57, -53, -15, 6, 21, 34, 95]

In [64]:
from random import randrange
betkas = sorted([randrange(-99, 100) for skaicius in range(10)])
betkas

[-94, -60, -42, -38, -7, 40, 50, 58, 84, 86]

In [68]:
zmogus = {
    "vardas": "Ignas",
    "pavarde": "Rocys",
    "amzius": 29,
    "pareigos": "Studentas" 
}
surusiuotas = sorted(str(value) for value in zmogus.values())
surusiuotas

['29', 'Ignas', 'Rocys', 'Studentas']

In [69]:
sorted(betkas, key=abs)

[-7, -38, 40, -42, 50, 58, -60, 84, 86, -94]

# Objektu rusiavimas

In [73]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, atlyginimas):
        self.vardas = vardas
        self.pavarde = pavarde
        self.atlyginimas = atlyginimas

    def __repr__(self):
        return (f"({self.vardas}, {self.pavarde}, {self.atlyginimas})")

d1 = Darbuotojas("Tadas", "Rutkauskas", 1500)
d2 = Darbuotojas("Domas", "Radzevičius", 2000)
d3 = Darbuotojas("Rokas", "Ramanauskas", 1000)
d4 = Darbuotojas("Geras", "Gerulis", 5000)
darbuotojai = [d1, d2, d3, d4]
darbuotojai

def rusiavimas_pagal_varda(obj):
    return obj.vardas

darbuotojai_pagal_varda = sorted(darbuotojai, key=rusiavimas_pagal_varda)
darbuotojai_pagal_varda

[(Domas, Radzevičius, 2000),
 (Geras, Gerulis, 1000),
 (Rokas, Ramanauskas, 1000),
 (Tadas, Rutkauskas, 1500)]

In [74]:
darbuotojai_pagal_pavarde = sorted(darbuotojai, key=lambda obj: obj.pavarde )
darbuotojai_pagal_pavarde

[(Geras, Gerulis, 1000),
 (Domas, Radzevičius, 2000),
 (Rokas, Ramanauskas, 1000),
 (Tadas, Rutkauskas, 1500)]